rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /gameSubmissions/{submission} {
      allow create: if false;
      allow read, update, delete: if false;
    }
  }
}